/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.idea/encodings.xml
.idea/nfqakademija.iml
*.php
src/Nfq/LibraryBundle/BookParser.php
src/Nfq/LibraryBundle/NfqLibraryBundle.php
src/Nfq/LibraryBundle/DependencyInjection/NfqLibraryExtension.php