body {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url("http://i.imgur.com/DV5LmTI.png");
}

.navbar .nav > li {
    top: 6px;
}

.navbar-form .form-control {
    height: 34px;
    width: 320px;
}

.col-md-2 {
    width: 45%;
}

.col-xs-2 {
    width: 55%;
}

.image-container {
    height: 150px;
    width: 100%;
}
.img-responsive {
    height:100%;
    width:100%;
}