nav{
    background-color: #000000;
}

.navbar .nav > li {
    top: 6px;
}

.navbar-form .form-control {
    height: 34px;
    width: 320px;
}

.footer {
    clear: both;
    position:fixed;
    bottom:0;
    width:100%;
    border: 2px solid #a1a1a1;
    background-color: #000000;
}

.footer .h5{
    position: center;
    color: #ffffff;
}