body {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url("http://i.imgur.com/DV5LmTI.png");
}

.navbar .nav > li {
    top: 6px;
}

.navbar-form .form-control {
    height: 34px;
    width: 320px;
}
